<div class="ma-player-sidebar-userinfos">
	<div class="ma-player-sidebar-avatar-wrapper"><%= image_tag(@user.avatar.url, class: "img-responsive ma-player-sidebar-avatar") %></div>
  <h3><%= @user.firstname %> <%= @user.lastname %></h3>
</div>
<div class="ma-player-sidebar-controls container-fluid">
	<div>
		<h3>J'aime les radis</h3>
		<h4>Jean-Michel Saumon</h4>
	</div>
	<div>
		<div class="pull-left">
			<button id="ma-player-play" type="button" class="btn btn-primary"><%= fa_icon "play" %></button>
		</div>
		<div class="">
			<div><small>00:45 / 06:20</small></div>
			<div id="ma-player-progressbar" class="progress">
				<div id="ma-player-progressbar-handler"></div>
				<div id="ma-player-progressbar-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					<!--span class="sr-only">40% Complete (success)</span-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ma-player-sidebar-menu">
	<ul>
		<li>Playlist <span class="badge">42</span><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
		<li id="ma-player-sidebar-menu-songs">Songs <span class="badge">42</span><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
		<li id="ma-player-sidebar-menu-upload"><a href="#">Upload</a><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
	</ul>
</div>

