<div class="ma-player-sidebar-userinfos">
	<div id="ma-player-sidebar-cover-wrapper"><%= image_tag(@user.avatar.url, id: "ma-player-sidebar-cover", class: "img-responsive") %></div>
</div>
<div class="ma-player-sidebar-controls container-fluid">
	<div>
		<h3 id="ma-player-sidebar-music-title"></h3>
		<h4 id="ma-player-sidebar-music-artist"></h4>
	</div>
	<div>
		<div class="pull-left">
			<button id="ma-player-play" type="button" class="btn btn-primary"><%= fa_icon "play", id: "ma-player-play-icon" %></button>
		</div>
		<div>
			<div id="ma-player-time">00:00 / 00:00</div>
			<div id="ma-player-progressbar" class="progress">
				<div id="ma-player-progressbar-handler"></div>
				<div id="ma-player-progressbar-bar" class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					<!--span class="sr-only">40% Complete (success)</span-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ma-player-sidebar-menu">
	<ul>
		<li id="ma-player-sidebar-menu-playlists">Playlists <span id="ma-player-sidebar-menu-playlists-badge" class="badge">0</span><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
		<li id="ma-player-sidebar-menu-songs">Songs <span id="ma-player-sidebar-menu-songs-badge" class="badge">0</span><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
		<li id="ma-player-sidebar-menu-upload"><a href="#">Upload</a><span class="pull-right"><%= fa_icon "chevron-right" %></span></li>
	</ul>
</div>
