<%= form_for @user do |f| %>
  <p> 
    <%= f.label :login %>
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>   
  </p>
  <p>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %> 
  </p>
<p>
  <%= f.label :birthday %>
  <%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => 1900 %>
</p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>  
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>   
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>