<section class="ma-devise-cover ma-devise-welcome">
	<div class="container">
		<div class="welcome-box">
			<div class="logo center-block"></div>
			<h1>MusiARC</h1>
			<p class="lead">Welcome to MusiARC. Sign in/up and start listening !</p>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'col-md-6 col-md-push-3 col-sd-8 col-sd-push-2'}) do |f| %>
				<div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Enter email' %>
				</div>

				<div class="form-group">
					<%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Enter password' %>
				</div>

				<% if devise_mapping.rememberable? -%>
				<div class="field">
					<%= f.check_box :remember_me %>
					<%= f.label :remember_me %>
				</div>
				<% end %>

				<div class="actions">
					<%= f.submit "Log in", :class => 'btn btn-primary btn-lg btn-block' %>
				</div>

				<div class="ma-login-sublinks"><%= render "devise/shared/links" %></div>

			<% end %>

		</div>
	</div>
</section>
