<h1>My playlist</h1>

<table class="table table-hover ma-player-table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr class="ma-player-table-tr cursor-pointer">
          <td>
            <a href="#" onclick="Player.show('playlists/<%= playlist.id %>')"><strong><%= playlist.name %></strong></a><br/>
            <%= playlist.content %>
          </td>
          <td class="ma-player-table-actions">
          <% @userId = Playlist.find(playlist.id).user_id %>
          <% if @userId == current_user.id %>
            <a href="#" onclick="Player.show('playlists/<%= playlist.id %>/edit')"><%= fa_icon "pencil" %></a>
            <a href="#" onclick="Player.delete('playlists', <%= playlist.id %>, 'myplaylists')"><%= fa_icon "trash" %></a>
          <% end %>
            <a href="#" onclick="Player.show('playlists/<%= playlist.id %>')"><%= fa_icon "info" %></a>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', "", id: "new_playlist"%>
