<p id="notice"><%= notice %></p>
<h2><%= @playlist.nom%> </h2>
<tbody>
  <% @musicsPlaylists.each do |music| %>
    <% @song = Music.find(music.music_id) %>
    <p><%=@song.artist%>
      <%=@song.title%>
    <audio controls> 
    <source src=<%=@song.path.url[0...-11] %> type="audio/mpeg">  
    </audio></p>
  <%end%>
  <%= link_to 'Back', playlists_path %>
</tbody>