<p id="notice"><%= notice %></p>

<h2><%= @music.title%> </h2>

<td> <%= image_tag(@music.cover.url, class: "img-responsive ma-player-sidebar-avatar") %></td>

<audio controls>
 <source src=<%=@music.path.url[0...-11] %> type="audio/mpeg">
</audio>


Show us how you like this music!

<p>

<strong>Rating:</strong><br />
Overall : <%= rating_for @music, "overall" %>
</p>
<h />
<p>

<strong>Your votes:</strong><br />
Music Rating : <%= rating_for_user @music, current_user, "autism_friendly", :star => 10 %>
</p>
<%= render :partial => "musics_playlists/form", :locals => {:music_id => @music.id} %>
<hr/>

<%= render @comments %>

<h3>Add comment</h3>

<%= render 'comments/form' %>
<% if @userId == current_user.id %>
  <td><%= link_to 'Edit', edit_music_path(@music) %></td>
  <td><%= link_to 'Destroy', @music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
