<h1>About that song</h1>
<div class="row">
    <div class="col-md-4">
        <%= image_tag(@music.cover.url, class: "ma-player-music-cover img-responsive") %>
    </div>
    <div class="col-md-8">
        <h1><%= @music.title%></h1>
        <h2><%= @music.artist%></h2>
        <hr>
        <p>
            <strong>Rating</strong>
            <p>
                Overall : <%= rating_for @music, "overall", layout: "player" %>
                Yours : <%= rating_for_user @music, current_user, "autism_friendly", :star => 10 %>
            </p>
        </p>
        <p>
            <strong>Playlist</strong>
            <%= render :partial => "musics_playlists/form", :locals => {:music_id => @music.id} %>
        </p>

        <hr>

        <h3>Comments</h3>
        <div class="ma-player-music-comments">
            <%= render @comments %>
        </div>
        <h4>Add comment</h4>
        <%= render 'comments/form' %>
    </div>
</div>
