<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
=======
<h3>Comments</h3>

<%= render @comments %>

<h3>Add comment</h3>

<%= render 'comments/form' %>
>>>>>>> a0e5af316cffb857353eecb903afb56dc74e5b4f
